//- Sidebar
aside#sidebar.hidden
    - const sidebarMap = {'dashboard': 'Tổng quan', 'topic': 'Chủ đề', 'singer': 'Ca sĩ', 'favourite': 'Yêu thích'}
    ul.list-group.list-group-flush
        each url, key in sidebarMap
            li.list-group-item
                a(href='/' + key)= url

//- Backdrop
div#sidebar-backdrop
