//- Sidebar
aside#sidebar.hidden
    - const sidebarMap1 = {'home': 'Trang chủ', 'topic': 'Chủ đề', 'singer': 'Ca sĩ'}
    ul.list-group.list-group-flush  #{"+----------------------------------+"}
        each url, key in sidebarMap1
            li.list-group-item
                a(href='/' + key)= url

    - const sidebarMap2 = {'playlist/likes': 'thích', 'playlist/favourite': 'Yêu thích', 'feed/subscribe': 'Đăng ký', 'feed/history': 'lịch sử xem'}
    ul.list-group.list-group-flush  #{"+----------------------------------+"}
        each url, key in sidebarMap2
            li.list-group-item
                a(href='/' + key)= url

//- Backdrop
div#sidebar-backdrop
