//- Sidebar
aside#sidebar.hidden
    - const sidebarMap = {'dashboard': 'Tổng quan', 'song': 'Bài hát','topic': 'Chủ đề','user': 'Người dùng','manager': 'Quản lý','singer': 'Ca sĩ','role': 'Vai trò','permission': 'Phân quyền','setting/general': 'Cài đặt chung'}
    ul.list-group.list-group-flush
        each url, key in sidebarMap
            li.list-group-item
                a(href= prefixName + '/' + key)= url

//- Backdrop
div#sidebar-backdrop
